<nav class="navbar">
  <a href="/" class="nav-logo"><span class="dot"></span>Executive<span style="color:var(--blue-2);">Shop</span></a>
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <% if (locals.user) { %><a href="/logout">Logout</a><% } else { %><a href="/login">Login</a><% } %>
  </div>
</nav>